"*":
  "atom-autocomplete-php": {}
  "atom-material-ui":
    colors:
      abaseColor: "#ef5350"
      accentColor: "#59fcff"
      predefinedColor: "Red"
    fonts:
      fontSize: 14
    ui: {}
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "markdown-scroll-sync"
      "atom-beautify"
      "intentions"
      "atom-autocomplete-php"
      "tidy-markdown"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "chester-atom-syntax"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "424668f8-7cae-4552-b056-1ae4814397ae"
  "genesis-ui":
    distractionFree: {}
    treeView: {}
  "highlight-selected":
    highlightBackground: true
  "linter-ui-default":
    panelHeight: 177
  "php-cs-fixer":
    executablePath: "/usr/local/bin/php-cs-fixer"
    phpExecutablePath: "/usr/local/bin/php"
  "php-debug":
    AutoExpandLocals: true
    currentPanelMode: "bottom"
  "platformio-ide-terminal":
    core: {}
    style:
      theme: "dracula"
  "pretty-json":
    prettifyOnSaveJSON: true
  "tree-view":
    autoReveal: true
  "vim-mode-plus":
    allowMoveToOffScreenColumnOnScreenLineMotion: false
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    ignoreCaseForSearch: true
    keymapPToPutWithAutoIndent: true
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
    useClipboardAsDefaultRegister: true
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  welcome:
    showOnStartup: false
