[
  {
    title: "Tickles"
    group: "g"
    paths: [
      "/usr/local/var/www/tickles"
    ]
  }
  {
    title: "G Etc"
    group: "g"
    paths: [
      "/usr/local/var/www/g-etc"
    ]
  }
  {
    title: "Apidebug"
    group: "master"
    paths: [
      "/usr/local/var/www/apidebug"
    ]
  }
  {
    title: "Connector backend"
    group: "master"
    paths: [
      "/usr/local/var/www/connector_backend"
    ]
  }
  {
    title: "Dev"
    group: "master"
    paths: [
      "/data/home/user00/playcrab/master/version/backend/dev"
    ]
  }
  {
    title: "G Ln"
    group: "g"
    paths: [
      "/Users/sung/g-ln"
    ]
  }
  {
    title: "Tp5"
    group: "demo"
    paths: [
      "/Users/sung/g-ln/webroot/tp5"
    ]
  }
  {
    title: "Demo php"
    group: "demo"
    paths: [
      "/Users/sung/g-ln/webroot/demo_php"
    ]
  }
  {
    title: "Demo Laravel"
    group: "demo"
    paths: [
      "/Users/sung/g-ln/webroot/demo_laravel"
    ]
  }
]
