[
    {
        title: "Dev"
        group: "master"
        paths: [
            "/data/home/user00/playcrab/master/version/backend/dev"
        ]
        devMode: true
    }
    {
        title: "Webroot"
        group: "dir"
        paths: [
            "/data/home/user00/playcrab/master/webroot"
        ]
    }
    {
        title: "Global"
        group: "master"
        paths: [
            "/data/home/user00/playcrab/master/version/global/dev"
        ]
    }
    {
        title: "Config"
        group: "master"
        paths: [
            "/data/home/user00/playcrab/master/version/config/dev"
        ]
    }
    {
        title: "Arsenal"
        group: "master"
        paths: [
            "/data/home/user00/playcrab/master/webroot/arsenal"
        ]
    }
    {
        title: "Ticklesphp"
        group: "ticklesphp"
        paths: [
            "/data/home/user00/playcrab/master/webroot/demo_ticklesphp/vendor"
        ]
    }
    {
        title: "sung1011.github.io"
        group: "app"
        paths: [
            "/data/home/user00/playcrab/master/webroot/sung1011.github.io"
        ]
    }
    {
        title: "Doc"
        group: "dir"
        paths: [
            "/Users/playcrab/tickles"
        ]
    }
    {
        title: "Connector backend"
        group: "master"
        paths: [
            "/data/home/user00/playcrab/master/webroot/connector_backend"
        ]
    }
    {
        title: "Connector global"
        group: "master"
        paths: [
            "/data/home/user00/playcrab/master/webroot/connector_global"
        ]
    }
    {
        title: "Apidebug"
        group: "master"
        paths: [
            "/data/home/user00/playcrab/master/webroot/apidebug"
        ]
    }
    {
        title: "Mtool"
        group: "master"
        paths: [
            "/data/home/user00/playcrab/master/master_tools/mtool"
        ]
    }
    {
        title: "Demo Ticklesphp"
        group: "demo"
        paths: [
            "/data/home/user00/playcrab/master/webroot/demo_ticklesphp"
        ]
    }
    {
        title: "Demo Laravel"
        group: "demo"
        paths: [
            "/data/home/user00/playcrab/master/webroot/demo_laravel"
        ]
    }
    {
        title: "Demo Thinkphp 3.2"
        group: "demo"
        paths: [
            "/data/home/user00/playcrab/master/webroot/demo_thinkphp3.2"
        ]
    }
    {
        title: "Demo Thinkphp 5"
        group: "demo"
        paths: [
            "/data/home/user00/playcrab/master/webroot/demo_thinkphp"
        ]
    }
    {
        title: "Demo Python"
        group: "demo"
        paths: [
            "/data/home/user00/playcrab/master/webroot/demo_python"
        ]
    }
    {
        title: "Demo Php"
        group: "demo"
        paths: [
            "/data/home/user00/playcrab/master/webroot/demo_php"
        ]
    }
    {
        title: "Php Src"
        group: "demo"
        paths: [
            "/data/home/user00/playcrab/master/webroot/php-src"
        ]
    }
    {
        title: "G console"
        group: "tickles"
        paths: [
            "/data/home/user00/playcrab/master/webroot/g-console"
        ]

    }
    {
        title: "Demo C"
        group: "demo"
        paths: [
            "/data/home/user00/playcrab/master/webroot/demo_c"
        ]
    }
    {
        title: "Demo Symfony"
        group: "demo"
        paths: [
            "/data/home/user00/playcrab/master/webroot/demo_symfony"
        ]
    }
    {
        title: "Demo Codeigniter"
        group: "demo"
        paths: [
            "/data/home/user00/playcrab/master/webroot/demo_codeigniter"
        ]
    }
    {
        title: "Demo Slim Skeleton"
        group: "demo"
        paths: [
            "/data/home/user00/playcrab/master/webroot/demo_slim-skeleton"
        ]
    }
    {
        title: "Demo Mongo shell"
        group: "demo"
        paths: [
            "/data/home/user00/playcrab/master/webroot/demo_mongoshell"
        ]
    }
    {
        title: "Demo pimple"
        group: "demo"
        paths: [
            "/data/home/user00/playcrab/master/webroot/demo_pimple"
        ]
    }
    {
        title: "Demo Nginx"
        group: "demo"
        paths: [
            "/data/home/user00/playcrab/master/webroot/demo_nginx"
        ]
    }
    {
        title: "Demo FastRoute"
        group: "demo"
        paths: [
            "/data/home/user00/playcrab/master/webroot/demo_fastroute"
        ]
    }
    {
        title: "Usr-local-etc"
        paths: [
            "/usr/local/etc"
        ]
    }
    {
        title: "Link"
        paths: [
            "/data/home/user00/playcrab/master/webroot/link"
        ]
    }
    {
        title: "Tickles"
        group: "tickles"
        paths: [
            "/data/home/user00/playcrab/master/webroot/tickles"
        ]
    }
    {
        title: "Demo Cakephp"
        group: "demo"
        paths : [
            "/data/home/user00/playcrab/master/webroot/demo_cakephp"
        ]
    }
]
