[
  {
    title: "Tickles"
    group: "g"
    paths: [
      "/usr/local/var/www/tickles"
    ]
  }
  {
    title: "G Etc"
    group: "g"
    paths: [
      "/usr/local/var/www/g-etc"
    ]
  }
  {
    title: "Apidebug"
    group: "master"
    paths: [
      "/usr/local/var/www/apidebug"
    ]
  }
  {
    title: "Connector backend"
    group: "master"
    paths: [
      "/usr/local/var/www/connector_backend"
    ]
  }
  {
    title: "Dev"
    group: "master"
    paths: [
      "/data/home/user00/playcrab/master/version/backend/dev"
    ]
  }
  {
    title: "Tk"
    group: "g"
    paths: [
      "/Users/sung/tk"
    ]
  }
  {
    title: "Tp5"
    group: "demo"
    paths: [
      "/usr/local/var/www/tp5"
    ]
  }
  {
    title: "Demo php"
    group: "demo"
    paths: [
      "/usr/local/var/www/demo_php"
    ]
  }
  {
    title: "Demo Laravel"
    group: "demo"
    paths: [
      "/usr/local/var/www/demo_laravel"
    ]
  }
  {
    title: "Demo Cakephp"
    group: "demo"
    paths: [
      "/usr/local/var/www/demo_cakephp"
    ]
  }
  {
    title: "Demo Symfony Console"
    group: "demo"
    paths: [
      "/data/home/user00/playcrab/master/webroot/demo_symfony-console"
    ]
  }
  {
    title: "Demo Pimple"
    group: "demo"
    paths: [
      "/data/home/user00/playcrab/master/webroot/demo_pimple"
    ]
  }
  {
      title: "Demo Spider"
      group: "demo"
      paths: [
          "/data/home/user00/playcrab/master/webroot/demo_spider"
      ]

  }
  {
      title: "Demo Slim-skeleton"
      group: "demo"
      paths: [
          "/data/home/user00/playcrab/master/webroot/demo_slim-skeleton"
      ]
  }
  {
      title: "Sung1011.github.io"
      group: "g"
      paths: [
          "/data/home/user00/playcrab/master/webroot/sung1011.github.io"
      ]

  }
]
